
{%- macro fulldtype(dtype) %}
{%- set fulldtype_ = {"d": "double", "f": "float"}[dtype] -%}{{fulldtype_}}
{%- endmacro %}

{%- macro liststr(num, name, suffix="", sep=",") -%}
{%- for i in range(num) -%}
{{name}}{{i}}{{suffix}}
{%- if i < (num - 1) %}{{sep}}{%- endif %}
{%- endfor -%}
{%- endmacro -%}

{%- macro apply_funcname(name, device, sig) -%}
apply_{{name}}_{{device}}_{{sig}}
{%- endmacro -%}

{%- macro ifs(i) -%}
{%- if i > 0 %}el{% endif %}if
{%- endmacro -%}

{%- macro joinlist(lst, sep, prefix="", suffix="") -%}
{%- for i in range(lst|length) -%}
{{prefix}}{{lst[i]}}{{suffix}}
{%- if i < (lst|length - 1) %}{{sep}}{%- endif %}
{%- endfor -%}
{%- endmacro -%}
